<!doctype html>
<html>

<head>
  <title>
    {{#if title}}
    {{title}}
    {{else}}
    Base Page Title
    {{/if}}

  </title>
      {{> base/head }}
</head>

<body>

<header>{{{block 'header'}}}</header>
  <main>
    {{{body}}}
  </main>

{{{block 'footer'}}}

{{> base/foot }}
{{{block 'scripts'}}}
</body>

</html>