Nav


{{name}}

  <div>
    뭘 생산해!
    {{title}}
    {{number}}
    <hr>
    {{#if number}}
    Hello Handlebars
    {{else}}
    ㅠ_ㅠ
    {{/if}}

    <ul>
      {{#each person}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

    {{#each fluit}}
    <div>{{this.name}}</div>
    {{/each}}

    {{#with test}}
    {{firstname}}
    {{lastName}}
    {{/with}}

    <br>
    {{#> header }}
    fff
    {{/header }}
  </div>




  <script>
    Handlebars.registerPartial("header", "{{name}}");
  </script>